---
layout: default
---


<div id="main" class="course-page" role="main">
  <div class="course-page-wrapper">
    <div class="course-side-bar course-side-bar--left"></div>
    <div class="course-content">
      <h2 class="course-nav-title">Seeing Is Believing: Microscopes as a Lens to a Hidden World</h2>
      <nav class="course-nav">
        <a href="#CourseIntro">Summary</a>
        <a href="#InstructorBios">Instructors</a>
        <a href="#CourseExpectations">Expectations</a>
        <a href="#CourseSchedule">Schedule</a>
      </nav>
      <picture>
        <source media="(max-width: 600px)" srcset="{{ base_path }}/images/Banner-mobile.jpg">
        <img class="course-banner" src="{{ base_path }}/images/Banner.jpg" alt="">
      </picture>
      <h1 class="page__title">{{ page.title }}</h1>
      {{ content }}
    </div>
    <div class="course-side-bar course-side-bar--right"></div>
  </div>
</div>